    {% extends "base.html" %}
	{% block content %}

	<a href="#" class="bigrek"></a>
	<div class="container wrapper">
		<div class="longrek"></div>
		<div class="clearfix"></div>
		
		<ol class="breadcrumb">
			<li><a href="#">Главная</a></li>
			<li class="active">Политика</li>
		</ol>
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="cat_title">Найдено 40 результатов для “динамика”</div>
				<div class="search_box">
					<form action="#">
						<div class="input-group">
							<input type="text" name="search" placeholder="Поиск">
							<button class="btn submit"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</div>
				<div class="news_box">
					<div class="cat_news">
						<div class="cat_img"><img src="img/news1.jpg" alt=""></div>
						<a href="#">В Узбекистане переработают оборонную доктрину в Узбекистане</a>
						<p>С учетом динамики развития ситуации в мире и регионе, необходимости адекватного реагирования на возникающие угрозы и вызовы, а также наших приоритетов и возможностей требует переработки Оборонная доктрина Республики Узбекистан.</p>
						<span class="date">12.01.2017</span>
						<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
					</div>	
					<div class="cat_news">
						<div class="cat_img"><img src="img/news1.jpg" alt=""></div>
						<a href="#">В Узбекистане переработают оборонную доктрину в Узбекистане</a>
						<p>С учетом динамики развития ситуации в мире и регионе, необходимости адекватного реагирования на возникающие угрозы и вызовы, а также наших приоритетов и возможностей требует переработки Оборонная доктрина Республики Узбекистан.</p>
						<span class="date">12.01.2017</span>
						<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
					</div>
					<div class="cat_news">
						<div class="cat_img"><img src="img/news1.jpg" alt=""></div>
						<a href="#">В Узбекистане переработают оборонную доктрину в Узбекистане</a>
						<p>С учетом динамики развития ситуации в мире и регионе, необходимости адекватного реагирования на возникающие угрозы и вызовы, а также наших приоритетов и возможностей требует переработки Оборонная доктрина Республики Узбекистан.</p>
						<span class="date">12.01.2017</span>
						<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
					</div>	
					<div class="cat_news">
						<div class="cat_img"><img src="img/news1.jpg" alt=""></div>
						<a href="#">В Узбекистане переработают оборонную доктрину в Узбекистане</a>
						<p>С учетом динамики развития ситуации в мире и регионе, необходимости адекватного реагирования на возникающие угрозы и вызовы, а также наших приоритетов и возможностей требует переработки Оборонная доктрина Республики Узбекистан.</p>
						<span class="date">12.01.2017</span>
						<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
					</div>	
					<div class="cat_news">
						<div class="cat_img"><img src="img/news1.jpg" alt=""></div>
						<a href="#">В Узбекистане переработают оборонную доктрину в Узбекистане</a>
						<p>С учетом динамики развития ситуации в мире и регионе, необходимости адекватного реагирования на возникающие угрозы и вызовы, а также наших приоритетов и возможностей требует переработки Оборонная доктрина Республики Узбекистан.</p>
						<span class="date">12.01.2017</span>
						<span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
					</div>
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>											
				</div>
			</div>
			<div class="col-md-4 col-xs-12">

				{% include 'svejiy.html' %}
				
				<div class="news_box rek">
					<div class="rek_right">
						
					</div>
				</div>
				<div class="subscribe">
					<div class="title">Подписывайся на <b>1news.uz</b></div>
					<form action="">
						<div class="input-group">
							<input type="text" name="email" placeholder="Email">
							<button class="submit">Подписываться</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	{% endblock %}