
    <div class="head_title">Свежие новости</div>
    <div id="listnews" class="carousel slide listnews" data-ride="carousel">
        <div class="news_box">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <ul class="list_news">
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="list_news">
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                        <li>
                            <div class="list_img"><img src="img/news1.jpg" alt=""></div>
                            <a href="#">Dolor sit amet, consectetuer adipiscing elit.</a>
                            <span class="date">12.01.2017</span>
                            <span class="news_type"><i class="fa fa-pencil"></i> Общество</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="indi_box">
            <ol class="carousel-indicators">
                <li data-target="#listnews" data-slide-to="0" class="active"></li>
                <li data-target="#listnews" data-slide-to="1"></li>
            </ol>
        </div>
    </div>